body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#999999, #ffffff, #999999);
}

.card {
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    font-size: 1rem;
    padding: 0.4rem 1.9rem;
}

.container {
    padding-top: 3rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    height: 10rem;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}

input {
    text-align: center;
} 

.btn-outline-success {
    width: 10rem;
    height: 3rem;
}

.output {   
    margin-top: 20px;
    background-color: #ffffff;
}

li, ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.OutputText, .TransitionsText, .TapeText, .MessageText{
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}